---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Home">
  <main>
    <h1 class="text-slate-100">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat similique
      nam odio assumenda architecto aspernatur, laboriosam aut animi voluptatem
      aliquid inventore ratione magnam non dolorum iste quia nesciunt saepe.
      Deserunt.
    </h1>
  </main>
</Layout>
